.nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px;
}
.logo{
    font-size: 24px;
}
.menu{
    display: flex;
 
}
.menu li{
    margin: 15px;
    list-style-type: none;
    cursor: pointer;
}

.nav button{
    
    padding: 12px;
    border-radius: 22px;
    background-color: rgb(103, 103, 214);
    border: none;
    
}

@media (max-width:750px){

    .menu{
        display: none;
    }

   
}