.nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px;
}
.logo{
    font-size: 24px;
}
.menu{
    display: flex;
    
    
 
}
.menu li{
    margin: 15px;
    list-style-type: none;
    cursor: pointer;
}
.menu li a{
    text-decoration: none;
}

.nav button{
    
    padding: 12px;
    border-radius: 22px;
    background-color: rgb(103, 103, 214);
    border: none;

    
}
.btn-menu{
    display: none;
}

.nav button a{
    text-decoration: none;
}

@media (max-width:860px){

    
    .nav button{
        display: none;
    }

    .menu{
        background-color: rgb(103, 103, 214);
        position:absolute;
        display: flex;
        flex-direction: column;
        right: 10px;
        opacity:0;
       top: 11px;
        width: 10rem;
        height: 35rem;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
    }


    .btn-menu{
        width: 3rem;
        cursor: pointer;
        display: block;
        z-index: 1;
    }

   
}